.CirculerChart{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    background-color: rgba(240, 248, 255, 0.242);
    backdrop-filter: blur(15px);
    padding: 0.5rem;
    border-radius: 10%;
    flex-wrap: wrap;
    /* border-bottom: 2px rgba(255, 255, 255, 0.30) solid; */
    border-left: 3px rgba(255, 255, 255, 0.38) solid;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.chart{
    height: 16.5rem;
    width: 16.5rem;
   padding-bottom: 5%;
}